
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./assets/fonts/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

ul, ol {
  padding: 0 15px;
}

li, p, details{
  padding: 3px 0;
}


.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  background: #f1f1ef;
}

.header {
  background-color: #c8e9f5;
  padding: 20px;
}

.profile-text {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #c8e9f5;
  padding: 5px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

}

.nav-link {
  outline: none;
  text-decoration: none;
}

.nav-link:link {
  color: black;
}

.nav-link:visited {
color:  #496CB0;
}

.nav-link:focus {
  color:#C78557;

}

.nav-link:hover {
  color: #4C6EBC;
}

.nav-link:active {
color: #C78557;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

main {
  padding: 0 10px;
}

.sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
}

.section {
  width: 48%;
  padding: 15px;
}

.section:nth-child(-n+6) {
  border-bottom: 2px solid #c8e9f5;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8e9f5;
  padding: 20px 40px;
}

.footer img {
  height: 40px;
}


